.flex {
    width: 30%;
    margin: 0 auto;
    background-color: white;
    font-size: calc(10px + 2vmin);
}

.mainDiv {
    margin-bottom: 50px;
    margin-top: 50px !important;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    color: #002F34;
    box-shadow: 5px 5px 10px black;
    height: 100%;
}

.olx-logo {
    width: 8rem;
    margin-bottom: -50px;
}

.signUp-title {
    margin: 0 auto;
    font-size: medium;
    font-weight: 500;
}

.signup-link {
    text-decoration: underline;
    font-weight: 500;
}

.signup-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: cadetblue;
}

.log-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #002F34;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    height: 50px;
}

.log-btn:hover {
    background-color: white;
    color: #002F34;
    border: 2px groove #002F34;
}

.padding {
    padding: 2%;
}

.top-margin {
    margin-top: 1rem;
}
