.cartPage-remove-btn {
    color: #002F34;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    width: 80%; /* Original width */
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #002F34;
    transition: 0.5s;
}

.cartPage-remove-btn:hover {
    cursor: pointer;
    background-color: #002F34;
    color: white;
    transform: scale3d(1.1);
}

.cartPage-main {
    margin-top: 20px;
    margin-bottom: 80px !important;
}
